/* General Reset */

:root {
    --header-footer-color: #8e3613;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    margin: auto
}

/* Navigation Bar */
header {
    background: var(--header-footer-color);
    color: #fff;
    padding: 10px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

/* .logo a:hover {
    text-decoration: underline;
} */

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.my-links {
    list-style: none;
    display: flex;
    padding: 0;
}

.my-links li {
    margin-right: 30px;
}

/* About Section */
.intro {
    background: #f9f9f9;
    padding: 20px 0;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.about-text {
    max-width: 700px;
}

.about-text h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #444;
}

.about-text p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.about-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.about-text a:hover {
    text-decoration: underline;
}

/* Section Styling */
section {
    padding: 30px 20px;
}

.content-container {
    margin: auto;
    line-height: 1.6;
    max-width: 950px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #444;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style: disc;
    padding: 0px 20px;
}

ul li {
    margin-bottom: 10px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.pub-list a, .pub-list a:visited {
    color: inherit;
    text-decoration: none;
}

.pub-list a:hover {
    color: inherit;
    text-decoration: underline;
}

/* Footer */
footer {
    background: var(--header-footer-color);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-container a:hover {
    text-decoration: underline;
}
